body
{
    background-color:#548CA8;
    height: 100vh;
}
.picture
{
    margin-top: 10vh;
}
.card
{
    background-color: #334257;
    border-radius: 2vw;
    color: #EEEEEE;
    border: 0.1vw black solid;
    margin-top: 15vh;
}
.form-control:focus 
{
    border-color: #476072; 
    box-shadow: 0 0 0 0.2rem #476072; 
}
.btn
{
    background-color:#EEEEEE;
    border: 0.1vw black solid;
    color: black;
    transition: 0.5s;
}
.btn:hover
{
    background-color:#476072;
    border: 0.1vw black solid;
    color:white;
    transition:0.5s;
}
.btn:active
{
    background-color:#476072;
    border: 0.1vw white solid;
    color:white;
    transition:0.5s;
}
@media screen and (max-width:1200px) and (min-width:992px) 
{
    .card
    {
        margin-top: 15vh;
        margin-bottom: 5vh;
    }
}
@media screen and (max-width:992px) and (min-width:768px) 
{
    .card
    {
        margin-top: 15vh;
        margin-bottom: 5vh;
    }
}
@media screen and (max-width:768px) and (min-width:576px) 
{
    .card
    {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
}
@media screen and (max-width:576px) 
{
    .card
    {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
}